@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
    background: #22223B;  /* fallback for old browsers */
  
     
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  
    
    scroll-behavior: smooth;
}

